version: '3.8'

services:
  api:
    image: $DOCKERHUB_USERNAME/devops_api:latest
    container_name: api
    restart: always
    environment:
      - DB_HOST=db
      - DB_USER=appuser
      - DB_PASSWORD=apppass
      - DB_NAME=appdb
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=appdb
      - MYSQL_USER=appuser
      - MYSQL_PASSWORD=apppass
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
