name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install -r app/requirements.txt
          pip install pytest mysql-connector-python

      - name: Executar Testes
        run: pytest -v

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build da imagem Docker
        run: |
          IMAGE_NAME=whill500/devops_api
          docker build -t $IMAGE_NAME:latest .

      - name: Push imagem para Docker Hub
        run: |
          IMAGE_NAME=whill500/devops_api
          docker push $IMAGE_NAME:latest
